{% extends "base.html" %}
{% load static %}

{% block head %}
<link href="{% static 'register.css' %}" rel="stylesheet" />
{% endblock head %}

{% block body %}
<div class="container">
    <div class="row m2">
        <form action="" id="form" method="post">
            {% csrf_token %}
            <div class="container">
              <h1>Forgot Password</h1>
              <hr>

              <label for="email"><b>Email</b></label>
              <input type="text" placeholder="Enter Email" name="email" id="email" required>

              <button type="submit" id="send-otp" class="registerbtn">Send OTP</button>

            </div>
        </form>

        <form action="" id="verify-form" method="post">
            <div class="container">

                <div style="display: none;" id="div_otp">
                    <label for="otp"><b>OTP</b></label>
                    <input type="number" placeholder="Enter OTP" name="otp" id="otp" >
                </div>
                <button id="verify-otp" class="registerbtn" style="display: none;"> Verify OTP</button>
            </div>
        </form>

        <div style="display: none;" id="div_update_password" class="container">
            <div class="row m2">
                <form action="" id="update-password-form" method="post">
                    {% csrf_token %}
                    <div class="container">
                      <h1>Update Password</h1>
                      <hr>

                      <label for="password"><b>New Password</b></label>
                      <input type="password" placeholder="Enter Password" name="password" id="password" required>

                      <label for="c_password"><b>Confirm Password</b></label>
                      <input type="password" placeholder="Enter Password Again" name="c_password" id="c_password" required>

                      <button type="submit" id="save-password" class="registerbtn">Update Password</button>

                    </div>
                </form>
            </div>

        </div>
            <div class="container signin">
              <p>Already have an account? <a href="{% url 'login' %}">Sign in</a>.</p>
            </div>

    </div>

</div>
{% endblock %}


{% block js %}
<script>
    let csrf = "{{csrf_token}}";
    let login = "{% url 'login' %}"
</script>
<script src="{% static 'js/forgot-password.js' %}" ></script>
{% endblock js %}
