{% extends 'base.html' %}
{% load static %}

{% block head %}
<link href="{% static 'ticket.css' %}" rel="stylesheet" />
{% endblock head %}


{% block body %}
<div class="container">
    <form method="POST" class="form">
        {% csrf_token %}
        
        <input class="form-control mt-2" type="text" name="name" placeholder="Name" required/>
        <input class="form-control mt-2" type="text" name="subject" placeholder="Subject" required/>
        <textarea class="form-control mt-2" name="content" required>
        
        </textarea>
        <button type="submit" class="btn btn-warning mt-2">Submit</button>

    </form>

</div>
{% endblock %}

{% block js %}
<script>

    let csrftoken = '{{ csrf_token }}';
    let cart_url = "{% url 'cart' %}";

</script>
<script src="{% static 'js/ticket.js' %}" ></script>
{% endblock js %}
