{% extends 'base.html' %}
{% load static %}

{% block head %}
<link href="{% static 'register.css' %}" rel="stylesheet" />
{% endblock head %}
{% block body %}

{% if message %}
<div class="alert alert-sucess" role="alert" id="message-div">
    {{message}}
</div>
{% endif %}

<form method="POST" onsubmit=" return validate()">
    {% csrf_token %}
    <div class="container">
      <h1>Register</h1>
      <hr>

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" id="email" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" id="password" required>
  
      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
      <hr>
      <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
  
      <button type="submit" class="registerbtn">Register</button>
    </div>
    
    <div class="container signin">
      <p>Already have an account? <a href="{% url 'login' %}">Sign in</a>.</p>
    </div>
</form>

{% endblock %}

{% block js %}
<script src="{% static 'js/validate.js' %}" ></script>
{% endblock js %}